Flask
Flask-Cors
Flask-Session
Flask-RESTful
Jinja2
requests

# database query
cs50

# scrap
    #twitter
    python-twitter
    # - alternatives for web-site full integration
        tweepy

    # multy scraper
    snscrape
        # api twitter not supported since api 2023 paid update

# data testing
pandas

# share keys
configparser