{% extends "layout.html" %}

{% block title %}
    API info
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row justify-content-evenly">
        <!-- Twitter Form -->
        <div class="col-md-5 shadow p-3 mb-5 border border-2 border-info rounded twitter-bg-stroke position-relative" style="color: #1DA1F2;">
            <form action="/api" method="post">
                <p class="fs-1 text-start m-2 text-info">Twitter App</p>
                <div class="input-group mb-3">
                    <span class="input-group-text border-info">API key</span>
                    <input type="password" class="form-control border-info ftoggle" name="twitter-key" placeholder="api key" value="{{ twitter_key }}" autocomplete="off" aria-label="api key">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text border-info">API key secret</span>
                    <input type="password" class="form-control border-info ftoggle" name="twitter-key-secret" placeholder="api key secret" value="{{ twitter_key_secret }}" autocomplete="off" aria-label="api key secret">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text border-info">API token</span>
                    <input type="password" class="form-control border-info ftoggle" name="twitter-token" placeholder="api access token" value="{{ twitter_token }}" autocomplete="off" aria-label="api access token">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text border-info">API token secret</span>
                    <input type="password" class="form-control border-info ftoggle" name="twitter-token-secret" placeholder="api access token secret" value="{{ twitter_token_secret }}" autocomplete="off" aria-label="api access token secret">
                </div>
                <button type="submit" class="btn btn-lg btn-info m-2">Update</button>
                <button type="button" class="top-right-icon" id="toggle-twitter-visibility" style="border: none; background: none;">
                    <span class="material-symbols-outlined" id="twitter-visibility-icon">visibility</span>
                </button>
            </form>
            <a class="app-reference-links" href="https://developer.twitter.com/en/portal/dashboard" target="_blank" role="button" title="Twitter apps">
                <span class="material-symbols-outlined">settings_b_roll</span>
            </a>
        </div>
        <!-- Reddit Form -->
        <div class="col-md-5 shadow p-3 mb-5 border border-2 border-danger rounded reddit-bg-stroke position-relative" style="color: rgb(255, 69, 0);">
            <form action="/api" method="post">
                <p class="fs-1 text-start m-2 text-danger">Reddit Script</p>
                <div class="input-group mb-3">
                    <span class="input-group-text border-danger">API id</span>
                    <input type="password" class="form-control border-danger ftoggle2" name="reddit-id" placeholder="api id" value="{{ reddit_id }}" autocomplete="off" aria-label="api id">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text border-danger">API secret</span>
                    <input type="password" class="form-control border-danger ftoggle2" name="reddit-secret" placeholder="api secret" value="{{ reddit_secret }}" autocomplete="off" aria-label="api secret">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text border-danger">Agent</span>
                    <input type="text" class="form-control border-danger" name="reddit-agent" placeholder="api agent" value="{{ reddit_agent }}" autocomplete="off" aria-label="api agent">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text border-danger">Username</span>
                    <input type="text" class="form-control border-danger" name="reddit-username" placeholder="api username" value="{{ reddit_username }}" autocomplete="off" aria-label="api username">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text border-danger">Account Password</span>
                    <input type="password" class="form-control border-danger ftoggle2" name="reddit-password" placeholder="api password" value="{{ reddit_password }}" autocomplete="off" aria-label="api password">
                </div>
                <button type="submit" class="btn btn-lg btn-danger m-2">Update</button>
                <button type="button" class="top-right-icon" id="toggle-reddit-visibility" style="border: none; background: none;">
                    <span class="material-symbols-outlined" id="reddit-visibility-icon">visibility</span>
                </button>
            </form>
            <a class="app-reference-links" href="https://www.reddit.com/prefs/apps" target="_blank" role="button" title="Reddit apps">
                <span class="material-symbols-outlined">settings_b_roll</span>
            </a>
        </div>
    </div>
    <img src="/static/Media/post_social.svg" draggable="false" alt="background light house Sociales" style="position: fixed; bottom: -5px; right: 10px; max-width: 280px; z-index: 1;" width="30%">
</div>
<script>
    document.getElementById("toggle-twitter-visibility").addEventListener("click", function() {
    var x = document.getElementsByClassName("ftoggle");
    var icon = document.getElementById("twitter-visibility-icon");
    if (x[0].type === "password") {
        for (var i = 0; i < x.length; i++) {
        x[i].type = "text";
        }
        icon.innerHTML = "visibility_off";
    } else {
        for (var i = 0; i < x.length; i++) {
        x[i].type = "password";
        }
        icon.innerHTML = "visibility";
    }
    });
</script>
<script>
    document.getElementById("toggle-reddit-visibility").addEventListener("click", function() {
    var x = document.getElementsByClassName("ftoggle2");
    var icon = document.getElementById("reddit-visibility-icon");
    if (x[0].type === "password") {
        for (var i = 0; i < x.length; i++) {
        x[i].type = "text";
        }
        icon.innerHTML = "visibility_off";
    } else {
        for (var i = 0; i < x.length; i++) {
        x[i].type = "password";
        }
        icon.innerHTML = "visibility";
    }
    });
</script>
{% endblock %}