{% extends "layout.html" %}

{% block title %}
    Post in Sociales
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row justify-content-evenly">
        <div class="col-md-5 shadow p-3 mb-5 bg-body rounded">
            <form action="/post" method="post">
                <div class="mb-3">
                    <label for="texttopost" class="form-label"><h2>Type your post</h2></label>
                    <input type="text" class="form-control mb-3" id="content-title" name="content-title" placeholder="Type your title here">
                    <div class="position-relative">
                    <textarea class="form-control" aria-label="With textarea" placeholder="Write here your post, it will be sent to the Sociales of your chosing." aria-describedby="posthelp" id="texttopost" name="texttopost" required oninput="checkLength()" style="height: 110px;"></textarea>
                    <count id="charCount" class="fst-italic text-muted">0</count>
                    </div>
                    <div id="posthelp" class="form-text">Characters limits depending of which Sociales you select</div>
                </div>
                <div class="mb-3 form-check form-check-inline">
                    <input type="checkbox" class="btn-check" id="tweet-form" name="tweet-form" checked autocomplete="off">
                    <label class="btn btn-sm btn-outline-secondary" for="tweet-form">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" aria-hidden="true" focusable="false" viewBox="0 0 512 512">
                            <path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/>
                        </svg>
                        Twitter
                    </label>
                    <!--
                    <input type="checkbox" class="btn-check" id="insta-form" name="insta-form" checked autocomplete="off">
                    <label class="btn btn-sm btn-outline-secondary" for="insta-form">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon" aria-hidden="true" focusable="false">
                            <path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
                        </svg>
                        Instagram
                    </label> -->
                    <input type="checkbox" class="btn-check" id="reddit-form" name="reddit-form" checked autocomplete="off">
                    <label class="btn btn-sm btn-outline-secondary" for="reddit-form">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" aria-hidden="true" focusable="false" viewBox="0 0 512 512">
                            <path fill="currentColor" d="M440.3 203.5c-15 0-28.2 6.2-37.9 15.9-35.7-24.7-83.8-40.6-137.1-42.3L293 52.3l88.2 19.8c0 21.6 17.6 39.2 39.2 39.2 22 0 39.7-18.1 39.7-39.7s-17.6-39.7-39.7-39.7c-15.4 0-28.7 9.3-35.3 22l-97.4-21.6c-4.9-1.3-9.7 2.2-11 7.1L246.3 177c-52.9 2.2-100.5 18.1-136.3 42.8-9.7-10.1-23.4-16.3-38.4-16.3-55.6 0-73.8 74.6-22.9 100.1-1.8 7.9-2.6 16.3-2.6 24.7 0 83.8 94.4 151.7 210.3 151.7 116.4 0 210.8-67.9 210.8-151.7 0-8.4-.9-17.2-3.1-25.1 49.9-25.6 31.5-99.7-23.8-99.7zM129.4 308.9c0-22 17.6-39.7 39.7-39.7 21.6 0 39.2 17.6 39.2 39.7 0 21.6-17.6 39.2-39.2 39.2-22 .1-39.7-17.6-39.7-39.2zm214.3 93.5c-36.4 36.4-139.1 36.4-175.5 0-4-3.5-4-9.7 0-13.7 3.5-3.5 9.7-3.5 13.2 0 27.8 28.5 120 29 149 0 3.5-3.5 9.7-3.5 13.2 0 4.1 4 4.1 10.2.1 13.7zm-.8-54.2c-21.6 0-39.2-17.6-39.2-39.2 0-22 17.6-39.7 39.2-39.7 22 0 39.7 17.6 39.7 39.7-.1 21.5-17.7 39.2-39.7 39.2z"/>
                        </svg>
                        Reddit
                    </label>
                    
                </div>
                <br>
                <button type="submit" class="btn btn-lg btn-primary shadow">Submit</button>
            </form>
            <script>
                // hide title when not supported by API
                document.getElementById("reddit-form").addEventListener("change", function() {
                    var myElement = document.getElementById("content-title");
                    if (this.checked) {
                    myElement.style.display = "block";
                    } else {
                    myElement.style.display = "none";
                    }
                });
            </script>
            <script>
                var maxLength = 280;
                // check for twitter
                document.getElementById("tweet-form").addEventListener("change", function() {
                    var myElement = document.getElementById("charCount");
                    if (this.checked) {
                        myElement.style.display = "block";
                        maxLength = 280;
                    } 
                    else {
                    myElement.style.display = "none";
                    maxLength = 2000;
                    }
                });
                // enforce check lenght
                document.getElementById("texttopost").addEventListener("input", checkLength);
                // lenght count
                function checkLength() {
                    var myTextarea = document.getElementById("texttopost");
                    var charCount = document.getElementById("charCount");
                    if (myTextarea.value.length > maxLength) {
                    myTextarea.value = myTextarea.value.substring(0, maxLength);
                    }
                    charCount.innerHTML = myTextarea.value.length;
                }
            </script>
        </div>

        <div class="col-md-5 shadow p-3 mb-5 bg-body rounded">
            <h2>List of posts</h2>
            <table class="table table-hover table-responsive-sm">
                <!-- Table head -->
                <thead>
                    <th class="table-primary">Title</th>
                    <th class="table-primary">Links</th>
                    <th class="table-primary">Content</th>
                    <th class="table-primary">Times</th>
                </thead>
                <!-- Table Body -->
                <tbody class="table-group-divider">
                    {% for row, row2 in zip(postdb, publish) %}
                        <tr  class="table-secondary text-start">
                            <td> {{ row2.Title }} </td>
                            <td> 
                                <!-- Links by post -->
                                {% for i in row2.link %}
                                    {% if "reddit" is in i %}
                                    <a href="{{ i }}" class="btn btn-sm btn-outline-secondary m-1" role="button" title="Reddit" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" aria-hidden="true" focusable="false" viewBox="0 0 512 512">
                                            <path fill="currentColor" d="M440.3 203.5c-15 0-28.2 6.2-37.9 15.9-35.7-24.7-83.8-40.6-137.1-42.3L293 52.3l88.2 19.8c0 21.6 17.6 39.2 39.2 39.2 22 0 39.7-18.1 39.7-39.7s-17.6-39.7-39.7-39.7c-15.4 0-28.7 9.3-35.3 22l-97.4-21.6c-4.9-1.3-9.7 2.2-11 7.1L246.3 177c-52.9 2.2-100.5 18.1-136.3 42.8-9.7-10.1-23.4-16.3-38.4-16.3-55.6 0-73.8 74.6-22.9 100.1-1.8 7.9-2.6 16.3-2.6 24.7 0 83.8 94.4 151.7 210.3 151.7 116.4 0 210.8-67.9 210.8-151.7 0-8.4-.9-17.2-3.1-25.1 49.9-25.6 31.5-99.7-23.8-99.7zM129.4 308.9c0-22 17.6-39.7 39.7-39.7 21.6 0 39.2 17.6 39.2 39.7 0 21.6-17.6 39.2-39.2 39.2-22 .1-39.7-17.6-39.7-39.2zm214.3 93.5c-36.4 36.4-139.1 36.4-175.5 0-4-3.5-4-9.7 0-13.7 3.5-3.5 9.7-3.5 13.2 0 27.8 28.5 120 29 149 0 3.5-3.5 9.7-3.5 13.2 0 4.1 4 4.1 10.2.1 13.7zm-.8-54.2c-21.6 0-39.2-17.6-39.2-39.2 0-22 17.6-39.7 39.2-39.7 22 0 39.7 17.6 39.7 39.7-.1 21.5-17.7 39.2-39.7 39.2z"/>
                                        </svg>
                                    </a>
                                    {% endif %}
                                    {% if "twitter" is in i %}
                                    <a href="{{ i }}" class="btn btn-sm btn-outline-info m-1" role="button" title="Twitter" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" aria-hidden="true" focusable="false" viewBox="0 0 512 512">
                                            <path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/>
                                        </svg>
                                    </a>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td> {{ row.content }} </td>
                            <td> {{ row.date }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <img src="/static/Media/post social.svg" draggable="false" alt="background light house Sociales" style="position: fixed; bottom: -5px; right: 10px; max-width: 280px; z-index: 1;" width="30%">
</div>
{% endblock %}